@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700,900&display=swap');

* {
    font-family: 'Titillium Web', sans-serif;
}

.navbar-brand{
    color: white !important;
}

.container-fluid:first-of-type{
    padding: 0;
}

.row{
    margin-right: 0;
    margin-left: 0;
}

.navbar-nav a{
    color: white !important;
    margin-right: 40px;
}

.navbar-nav a:last-child{
    margin-right: 0;
}

header{
    background-image: url("img/banner.png");
    background-size: cover;
    background-position: center;
    font-weight: 700;
    padding-bottom: 100px;
}

.bg-light{
    background-color: transparent !important;
}

header nav{
    width: 1000px;
    margin: 0 auto;
    margin-top: 25px;
}

header nav a{
    font-size: 20px;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
    justify-content: flex-end;
}

header p{
    color: white;
}

header p:first-of-type{
    font-size: 2.2em;
    text-align: center;
    margin-top: 70px;
}

header p:nth-of-type(2){
    font-size: 3.6em;
    text-align: center;
    margin-top: 50px;
}

header button:last-child {
    color: white;
    background-color: transparent;
    border: 1.2px solid white;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 30px;
    margin-top: 40px;
    transition: ease-in-out 0.5s;
}

header button:last-child:hover{
    background-color: #fff;
    color: black;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: white;
}

body div:nth-of-type(2){
    margin-top: 90px;
    height: 19em;
}

body div:nth-child(2) div{
    float: left;
    margin-top: 0;
}

body div:nth-child(2) div:first-child p:first-child{
    font-weight: 700;
    font-size: 1.7em;
}

body div:nth-of-type(3){
    background-color: whitesmoke;
    height: 19em;
}

body div:nth-of-type(3) div div{
    float: left;
    margin-top: 4em;
}

body div:nth-of-type(3) div div:last-child p:first-child{
    font-weight: 700;
    font-size: 1.7em;
}

body div:nth-of-type(4) div div:nth-of-type(2){
    height: unset;
    margin-top: 0;
}

body div:nth-of-type(4) div{
    float: left;
}

body div:nth-of-type(4) div:nth-of-type(2){
    margin-top: 0;
    height: unset;
}

body div:nth-of-type(4) div div{
    float: left;
}

body div:nth-of-type(4) div:nth-of-type(3){
    background-color: unset;
    height: unset;
}

body div:nth-of-type(4) div div:nth-of-type(2) p:first-child{
    font-weight: 600;
    margin-bottom: 0;
    font-size: 1.3em;
}

body div:nth-of-type(4) div:last-child{
    padding-bottom: 50px;
}

body div:nth-of-type(4) div div:last-of-type{
    padding-bottom: unset;
}

body div:nth-of-type(4) div div img{
    transition: ease-in-out 0.5s;
}

body div:nth-of-type(4) div div img:hover{
    transform: rotate(15deg);
}